<div class="container">
  <% @poems.each do |poem| %>
  <div class="poem">
    <div class='poem-body'>
    <%= link_to poem_path(poem) do %>
      <h3><%= poem.title %> by <%= poem.poet.name %></h3>
      <p><%= poem.body.lines.first %></p>
      <% end %>
    </div>
<!--     <ul class="list-inline poem-controls hidden-sm hidden-xs">
      <li><%= link_to "" %></li>
    </ul> -->
  </div>
  <% end %>
</div>
