<div class="container">
  <% @poets.each do |poet| %>
  <div class="poet">
    <div class='poet-body'>
    <%= link_to poet_path(poet) do %>
      <h3><%= poet.name %> (born <%= poet.year_of_birth %>)</h3>
      <p><%= poet.biography.first(100) %>...</p>
      <% end %>
    </div>
<!--     <ul class="list-inline poet-controls hidden-sm hidden-xs">
      <li><%= link_to "" %></li>
    </ul> -->
  </div>
  <% end %>
</div>
